In [2]:
import pandas as pd
file_name = 'data/2015.csv'
data = pd.read_csv(file_name)
data.head(1)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [3]:
import os
data_list = []
for file in os.listdir('data'):
     data_list.append(pd.read_csv('data/' + file, error_bad_lines=False, encoding = "ISO-8859-1"))
df = pd.concat(data_list, ignore_index=True)
df.head()

<ipython-input-3-878ce85138ad>:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  df = pd.concat(data_list, ignore_index=True)

,Country,Country or region,Dystopia Residual,Dystopia.Residual,Economy (GDP per Capita),Economy..GDP.per.Capita.,Family,Freedom,Freedom to make life choices,GDP per capita,...,Region,Score,Social support,Standard Error,Trust (Government Corruption),Trust..Government.Corruption.,Unnamed: 0,Upper Confidence Interval,Whisker.high,Whisker.low
0,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,0.596,1.340,...,NaN,7.769,1.587,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,0.592,1.383,...,NaN,7.600,1.573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Norway,NaN,NaN,NaN,NaN,NaN,NaN,0.603,1.488,...,NaN,7.554,1.582,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,0.591,1.380,...,NaN,7.494,1.624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,0.557,1.396,...,NaN,7.488,1.522,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
filenames = ["data/2015.csv", "data/2016.csv", "data/2017.csv", "data/2018.csv", "data/2019.csv"]
dataframes = []
for f in filenames:
    dataframes.append(pd.read_csv(f))

In [5]:
dataframes
dataframes[0].columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [6]:
import os
import glob
import pandas as pd
os.chdir("data")

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

<ipython-input-6-6f2932822056>:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [7]:
data = pd.read_csv("combined_csv.csv")

data.head()

,Country,Country or region,Dystopia Residual,Dystopia.Residual,Economy (GDP per Capita),Economy..GDP.per.Capita.,Family,Freedom,Freedom to make life choices,GDP per capita,...,Perceptions of corruption,Region,Score,Social support,Standard Error,Trust (Government Corruption),Trust..Government.Corruption.,Upper Confidence Interval,Whisker.high,Whisker.low
0,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,0.596,1.340,...,0.393,NaN,7.769,1.587,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,0.592,1.383,...,0.410,NaN,7.600,1.573,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Norway,NaN,NaN,NaN,NaN,NaN,NaN,0.603,1.488,...,0.341,NaN,7.554,1.582,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,0.591,1.380,...,0.118,NaN,7.494,1.624,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,0.557,1.396,...,0.298,NaN,7.488,1.522,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
header_list = ["", "Dept", "Start Date"]
df = pd.read_csv("sample_file.csv", names=header_list)

print(df)

FileNotFoundError: [Errno 2] File b'sample_file.csv' does not exist: b'sample_file.csv'

In [49]:
file_name = '2015.csv'
data_2015 = pd.read_csv(file_name)
##data_2015.head(1)

data_2015.drop(['Standard Error','Region', 'Dystopia Residual'], axis=1, inplace=True)

##df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})


data_2015.rename(columns={"Happiness Rank": "Overall rank", "Happiness Score": "Overall score", "Economy (GDP per Capita)": "GDP per capita", "Family": "Social support", "Health (Life Expectancy)":"Healthy life expectancy", "Freedom":"Freedom to make life choices", "Trust (Government Corruption)":"Perceptions of corruption"}, inplace=True)

data_2015.head(1)

,Country,Overall rank,Overall score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678

In [50]:
data_2016 = pd.read_csv('2016.csv')
data_2016.drop(['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], axis=1, inplace=True)
data_2016.rename(columns={"Happiness Rank": "Overall rank", "Happiness Score": "Overall score", "Economy (GDP per Capita)": "GDP per capita", "Family": "Social support", "Health (Life Expectancy)":"Healthy life expectancy", "Freedom":"Freedom to make life choices", "Trust (Government Corruption)":"Perceptions of corruption"}, inplace=True)

data_2016.head(1)

,Country,Overall rank,Overall score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171

In [39]:
data_2017 = pd.read_csv('2017.csv')
data_2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis=1, inplace=True)

data_2017.rename(columns={"Happiness.Rank": "Overall rank", "Happiness.Score": "Overall score", "Economy..GDP.per.Capita.": "GDP per capita", "Family": "Social support", "Health..Life.Expectancy.":"Healthy life expectancy", "Freedom":"Freedom to make life choices", "Trust..Government.Corruption.":"Perceptions of corruption"}, inplace=True)
data_2017.head(1)

,Country,Overall Rank,Overall Score,GDP per Capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964

In [51]:
data_2018 = pd.read_csv('2018.csv')
data_2018.rename(columns={"Country or region": "Country", "Score":"Overall score"}, inplace=True)
data_2018.head(1)

,Overall rank,Country,Overall score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [52]:
data_2019 = pd.read_csv('2019.csv')
data_2019.rename(columns={"Country or region": "Country", "Score":"Overall score"}, inplace=True)
data_2019.head(1)

,Overall rank,Country,Overall score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393

In [54]:
frames = [data_2015, data_2016, data_2017, data_2018, data_2019]

df = pd.concat(frames, sort=False)
df.drop(['Overall Rank', 'Overall Score', 'GDP per Capita'], axis=1, inplace=True)
df.head(100)

,Country,Overall rank,Overall score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Switzerland,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
95,Bosnia and Herzegovina,96.0,4.949,0.83223,0.91916,0.79081,0.09245,0.00227,0.24808
96,Lesotho,97.0,4.898,0.37545,1.04103,0.07612,0.31767,0.12504,0.16388
97,Dominican Republic,98.0,4.885,0.89537,1.17202,0.66825,0.57672,0.14234,0.21684
98,Laos,99.0,4.876,0.59066,0.73803,0.54909,0.59591,0.24249,0.42192
99,Mongolia,100.0,4.874,0.82819,1.30060,0.60268,0.43626,0.02666,0.33230

In [58]:
data.groupby('Country').sum()['Overall rank'].sort_values().head(10)

Country
Afghanistan                0.0
Nigeria                    0.0
North Cyprus               0.0
Norway                     0.0
Oman                       0.0
Pakistan                   0.0
Palestinian Territories    0.0
Panama                     0.0
Niger                      0.0
Paraguay                   0.0
Name: Overall rank, dtype: float64